.main {
    margin: 0vw;
    padding: 0vw;
    width: 90vw;
    
}
.active {
    display: flex;
    justify-content: center;
    padding: 0vw;
    margin: 0vw;
    margin-top: 1vw;
    border: 1vw solid sandybrown;
    width: 90vw;
    box-sizing: border-box;
}
.list {
    display: flex;
    justify-content: center;
    
}
.list_element {
    box-sizing: border-box;
    text-align: center;
    margin: 0vw;
    border: 1vw solid brown; 
    width: 30vw;
    max-height: 100%;
    max-width: 100%;
    background-size: cover;
}