body {
	margin: 0vw;
	padding: 0vw;
	width: 100vw;
}
.main_box {
	margin: 0vw;
	padding: 0vw;
	width: 100vw;
	display: flex;
	flex-wrap: wrap;
}
header {
	margin: 0vw;
	padding: 0vw;
	width: 100vw;
	display: flex;
}
.logo_container {
	margin: 0vw;
	padding: 0vw;
	width: 40vw;
	height: auto;
	align-items: center;
	
	/*background-image: url(logo_name&image.png)*/
}
.logo_name_and_image {
	margin-right: -1vw;
	padding: 0vw;
	display: block;
	max-width: 100%;
	height: auto;
	
}
.bookmarks {
	margin: 0vw;
	padding: 0vw;
	display:flex;
	text-transform: uppercase;
	
}
.bookmarks_element {
	margin: 0vw;
	padding: 1vw;
	font-family: consolas;
	font-size: 1.5vw;
	text-align: center;
	border: .5vw solid #ffffff;
}
.bookmarks_element:hover {
	border-bottom: .5vw solid #fbcc00;
}
.name_abonements {
	width: 100vw;
	text-transform: uppercase;
	text-align: center;
	font-family: arial narrow;
	font-size: 2.5vw;
	background: #f7f5e6;
	border-top: .1vw solid #d3d4c9;
}
.abonements {
	margin: 0;
	padding: 0;
	width: 100vw;

	/*background-image: url(bt.jpg);
	background-size: cover;*/
}
.abonements_big_elements {
	display: flex;
	flex-wrap: wrap;
	width: 100vw;
	
}
.abonements_big_card {
	margin: 0;
	padding: 0;
	width: 49vw;
	height: 25vw;
	position: relative;
}
.abonements_big_card_name {
	width: 14vw;
	height: 7vw;
	font-size: 2vw;
	position: absolute;
	top: 1vw;
	left: 1vw;
	align-items: center;
}
.abonements_big_card_text {
	width: 12vw;
	height: 14vw;
	font-size: 1vw;
	position: absolute;
	bottom: 1vw;
	left: 1vw;
	display:flex;
	padding: .5vw;
}
.abonements_big_card_buy {
	font-size: 2vw;
	position: absolute;
	top: 1vw;
	right: 3vw;
	display:flex;
	padding: .5vw;
}
.abonements_big_card_price {
	width: 10vw;
	height: 4.3vw;
	font-size: 2vw;
	position: absolute;
	bottom: 1vw;
	right: 1vw;
	display:flex;
	justify-content: center;
	align-items: center;
	text-align: center;
}
.abonements_big_card:nth-of-type(1){
	background-image: url(kid_back.png);
	background-size: cover;
}
.abonements_big_card:nth-of-type(2){
	background-image: url(color_ball.png);
	background-size: cover;
}

.abonements_small_element {
	
}





с




